@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Lobster&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

/* Add this at the bottom of your index.css */
.gradient-hero {
  background: linear-gradient(to bottom, rgba(6, 182, 212, 0.7), rgba(255, 255, 255, 0.3));
}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar{
    display: none;
  }
}