@import "tailwindcss";

@theme {
  --font-size-course-details-heading-small: 26px;
  --font-size-course-details-heading-large: 36px;
  --font-size-home-heading-small: 28px;
  --font-size-home-heading-large: 48px;
  --font-size-default: 15px;
}
